<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editar Estoque - Farmácia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="styleEdicao.css" rel="stylesheet">
</head>

<body>
    <div th:replace="static/fragmentos/header :: header"></div>
    <div class="container">
        <h1>Editar Estoque</h1>
        <form th:action="@{/editar}" th:object="${estoque}" method="post">
             Campo oculto para o ID do estoque 
            <input type="hidden" th:field="*{id}" />

            <div class="form-group">
                <label for="quantidade">Quantidade:</label>
                <input type="number" id="quantidade" th:field="*{quantidade}" class="form-control" placeholder="Quantidade"/>
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('quantidade')}">
                    <label class="validation-message" th:errors="*{quantidade}"></label>
                </div>
            </div>

            <div class="form-group">
                <label for="medicamento">Medicamento:</label>
                <select id="medicamento" name="medicamentoId" th:field="*{medicamento.id}" class="form-control">
                    <option value="" th:text="'Selecione um medicamento'">Selecione um medicamento</option>
                    <option th:each="medicamento : ${medicamentos}" 
                            th:value="${medicamento.id}" 
                            th:text="${medicamento.nome}"
                            th:selected="${medicamento.id == estoque.medicamento.id}"></option>
                </select>
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('medicamento')}">
                    <label class="validation-message" th:errors="*{medicamento}"></label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="/estoques-adicionados" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>
