<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Estoque - Farmácia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="styleEdicao.css" rel="stylesheet">
</head>

<body>
    <div th:replace="~{static/fragmentos/header :: header}"></div>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Estoques Cadastrados</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button onclick="window.location.href='/registrarEstoque'" class="btn btn-sm btn-outline-secondary">Novo Estoque</button>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Medicamento</th>
                        <th>Quantidade em Estoque</th>
                        <th>Data de Entrada</th>
                        <th>Validade</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="estoque : ${estoques}">
                        <td th:text="${estoque.medicamento.nome}"></td>
                        <td th:text="${estoque.qtdEstoque}"></td>
                        <td th:text="${estoque.dataEntrada}"></td>
                        <td th:text="${estoque.medicamento.validade}"></td>
                        <td>
                            <a th:href="@{/editar/{id}(id=${estoque.id})}">Editar</a>
                            <a th:href="@{/remover/{id}(id=${estoque.id})}" onclick="return confirm('Tem certeza que deseja remover?')">Excluir</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>

</html>
