<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<body class="bg-light">
    <div th:fragment="header" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">
            <a class="p-2 text-dark" id="home" href="/">Farmácia ES</a>
        </h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/clientes">CLIENTES</a>
            <a class="p-2 text-dark" href="/medicamentos">MEDICAMENTOS</a>
            <a class="p-2 text-dark" href="/estoques-adicionados">ESTOQUE</a>
            <a class="p-2 text-dark" href="/promocoes">PROMOÇÕES</a>
            <!-- <a class="p-2 text-dark" href="/gerentes" 
            th:if="${user.funcionario.getClass().getSimpleName().equals('Gerente')}">GERENTES</a> -->
            <a class="p-2 text-dark" href="/gerentes">GERENTE</a>
            <a class="p-2 text-dark" href="/vendas/listar">VENDAS</a>
            <!-- <span th:text="${user.funcionario.getNome()}"></span>  -->
        </nav>
    </div>
</body>
</html>
