<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editar Medicamento - Farmácia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="styleEdicao.css" rel="stylesheet">
</head>

<body>
    <div th:replace="static/fragmentos/header :: header"></div>
    <main role="main" class="container mt-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Editar Medicamento</h1>
        </div>

        <form th:action="@{/medicamentos/atualizar}" th:object="${medicamento}" method="post">
            <input type="hidden" th:field="*{id}" />

            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" th:field="*{nome}" class="form-control" placeholder="Nome do Medicamento" required>
            </div>
            <div class="form-group">
                <label for="preco">Preço</label>
                <input type="number" id="preco" th:field="*{preco}" class="form-control" placeholder="Preço" step="0.01" min="0" required>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea id="descricao" th:field="*{descricao}" class="form-control" placeholder="Descrição"></textarea>
            </div>
            <div class="form-group">
                <label for="precisaReceita">Precisa Receita</label>
                <select id="precisaReceita" th:field="*{precisaReceita}" class="form-control" required>
                    <option th:value="true" th:text="'Sim'" th:selected="${medicamento.precisaReceita} == true"></option>
                    <option th:value="false" th:text="'Não'" th:selected="${medicamento.precisaReceita} == false"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="validade">Validade:</label>
                <input type="date" id="validade" th:field="*{validade}" class="form-control" />
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('validade')}">
                    <label class="validation-message" th:errors="*{validade}"></label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Atualizar</button>
            <a href="/medicamentos" class="btn btn-secondary">Cancelar</a>
        </form>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>

</html>
