<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Enviar Promoção - Farmácia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="styleEdicao.css" rel="stylesheet">
</head>

<body>
    <div th:replace="~{static/fragmentos/header :: header}"></div>
    <div class="container">
        <h1>Enviar Promoção</h1>
        <form th:action="@{/enviarPromocao}" method="post">
            <div class="form-group">
                <label for="gerente">Gerente:</label>
                <select id="gerente" name="gerente.id" class="form-control">
                    <option value="" th:text="'Selecione um gerente'">Selecione um gerente</option>
                    <option th:each="gerente : ${gerentes}" th:value="${gerente.id}" th:text="${gerente.nome}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="promocao">Promoção:</label>
                <select id="promocao" name="promocao.id" class="form-control">
                    <option value="" th:text="'Selecione uma promoção'">Selecione uma promoção</option>
                    <option th:each="promocao : ${promocoes}" th:value="${promocao.id}" th:text="${promocao.descricao}"></option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Enviar Promoção</button>
        </form>
    </div>
</body>
</html>
