<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de Promoções - Farmácia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="styleEdicao.css" rel="stylesheet">
</head>

<body>
    <div th:replace="static/fragmentos/header :: header"></div>
    <main role="main" class="container mt-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Lista de Promoções</h1>
        </div>

        <a href="/criarPromocao" class="btn btn-primary mb-3">Criar Nova Promoção</a>

        <a href="/enviarPromocao" class="btn btn-primary mb-3">Enviar Promoção para email</a>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Data Início</th>
                    <th>Data Fim</th>
                    <th>Desconto (%)</th>
                    <th>Medicamento</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="promocao : ${promocoes}">
                    <td th:text="${promocao.descricao}"></td>
                    <td th:text="${promocao.dataInicio}"></td>
                    <td th:text="${promocao.dataFim}"></td>
                    <td th:text="${promocao.desconto}"></td>
                    <td th:text="${promocao.medicamento.nome}"></td>
                    <td>
                        <a th:href="@{/editarPromocao/{id}(id=${promocao.id})}" class="btn btn-warning btn-sm">Editar</a>
                        <form th:action="@{/removerPromocao}" method="post" style="display:inline;">
                            <input type="hidden" name="promocaoId" th:value="${promocao.id}" />
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja remover?')">Excluir</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>
</html>
