<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de Funcionários - Farmácia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="styleEdicao.css" rel="stylesheet">
</head>

<body>
    <div th:replace="static/fragmentos/header :: header"></div>
    <div class="container">
        <h1>Lista de Funcionários</h1>
        <a href="/add-employee" class="btn btn-primary mb-3">Adicionar Funcionário</a>
        <a href="/enviarPromocao" class="btn btn-primary mb-3">Enviar Promoção para email</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.id}"></td>
                    <td th:text="${employee.funcionario.nome}"></td> 
                    <td th:text="${employee.email}"></td>
                    <td th:text="${employee.funcionario.getClass().getSimpleName()}"></td>
                    <td>
                        <a th:href="@{/edit-employee/{id}(id=${employee.id})}" class="btn btn-warning btn-sm">Editar</a>
                        <a th:href="@{/delete-employee(id=${employee.id})}" class="btn btn-danger btn-sm"
                           onclick="return confirm('Tem certeza que deseja remover este funcionário?');">Remover</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
