<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de Vendedores - Farmácia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="styleEdicao.css" rel="stylesheet">
</head>

<body>
    <div th:replace="static/fragmentos/header :: header"></div>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Lista de Vendedores</h1>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>CPF</th>
                        <th>Salário</th>
                        <th>Data de Admissão</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="vendedor : ${vendedores}">
                        <td th:text="${vendedor.nome}">Nome</td>
                        <td th:text="${vendedor.email}">Email</td>
                        <td th:text="${vendedor.cpf}">CPF</td>
                        <td th:text="${vendedor.salario}">Salário</td>
                        <td th:text="${vendedor.dataAdmissao}">Data de Admissão</td>
                        <td>
                            <a th:href="@{/vendedores/editar/{id}(id=${vendedor.id})}" class="btn btn-primary btn-sm">Editar</a>
                            <a th:href="@{/vendedores/excluir/{id}(id=${vendedor.id})}" class="btn btn-danger btn-sm">Excluir</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="/vendedores/novo" class="btn btn-success">Adicionar Novo Vendedor</a>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</body>

</html>
